<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #000000;">Uniting Africa</h2>
        <p style="color: black;"> Una is the first cryptocurrency created specifically for Africa, of which the purpose is simple. We wanted to create a cryptocurrency that can be used more effectively in emerging markets, but which can also overcome the scalability issues of Bitcoin. 
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
