<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #8980fe;">Get paid for your data</h2>
        <p style="color: black;"> Devia is a platform that allows users to protect and share their anonymous data if they choose to do so. Companies are already collecting user data through a technique called "web scraping". Data include Social Media Usage, Purchases, and online interests.
          Our platform is designed to incentivize users through token payments, while also keeping their personal data safe. This will allow users to have more control over their data, while also being incentivized for it, depending on the amount of data they share.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
