<section id="economics" class="economics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #000000;">Economics</h2>
        <hr style="color: #000000" class="small">
        <h3 style="color: #000000;">"Nothing stays the same for long."  - Life's great truth.</h3> 
        <p style="color: #000000;">All popular cryptocurrencies like "Bitcoin" have a static economy  with fixed total money supply.
          UnA has a unique dynamic economy with variable total money supply linked to annual GDP of Africa. <br></br>
          Specs: <br></br>
UNA is main trading currency <br></br>
1 UNA = 100 000 AFRI (unlike very dissolved Bitcoin  1 BTC = 100 000 000 satoshi. AFRI is indivisible primary unit. <br></br>
According International Monetary Fund statisti, the GDP of Africa in 2017 is 2,251,280,000 000  USD. In quantity (not in value) 1 AFRI = 1 USD. 2,251,280,000,000 USD = 2,251,280,000,000AFRI = 22,512,800 UNA <br></br>  
Initial total money supply: 22 512 800 UNA <br></br>
10% of UNA  going to be mined by developers team during preparation period and used for ICO purpose only. <br></br>
90%  going to be mined by everyone who will participate in mining during emission period. <br></br>
Duration of emission period is 1 year. <br></br>
Total money supply going to be linked to annual GDP of Africa and adjusted accordingly. <br></br>
Mining starts 17.11.17 <br></br>
          <br></br>
ICO will start only when we are going to make sure that UnA  network working  on large scale without problems
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
