<section id="economics" class="economics">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #000000;">Economics</h2>
        <h3 style="color: black;">"Nothing stays the same for long."  - Life's great truth.</h3> 
        <p style="color: black;">All popular cryptocurrencies like "Bitcoin" have a static economy  with fixed total money supply.
          UnA has a unique dynamic economy with variable total money supply linked to annual GDP of Africa.&nbsp;
          Specs:&nbsp;
- UNA is main trading currency unit&nbsp;
- 1 UNA = 100 000 AFRI (unlike very dissolved Bitcoin  1 BTC = 100 000 000 satoshi. AFRI is indivisible primary unit.&nbsp;
- According International Monetary Fund statisti, the GDP of Africa in 2017 is 2,251,280,000 000  USD. In quantity (not in value) 1 AFRI = 1 USD
  2,251,280,000,000 USD = 2,251,280,000,000AFRI = 22,512,800 UNA&nbsp;       
- Initial total money supply: 22 512 800 UNA&nbsp;
- 10% of UNA  going to be mined by developers team during preparation period and used for ICO purpose only. &nbsp;
- 90%  going to be mined by everyone who will participate in mining during emission period. &nbsp;
- Duration of emission period is 1 year. &nbsp;
- Total money supply going to be linked to annual GDP of Africa and adjusted accordingly. &nbsp;
- Mining starts 17.11.17 &nbsp;
- ICO will start only when we are going to make sure that UnA  network working  on large scale without problems
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
