<header id="top" class="header">
  <!-- particles.js container -->
<div id="particles-js"></div>

<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles">--</span> particles
</div>

<!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
  
  <div class="text-vertical-center">
    <img src="https://i.imgur.com/ZIBJmZs.png" alt="Devia">
    <h3><font color="#000000">ICO Launching Soon</font></h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg"><font color:"#000000">Find Out More</font></a>
  </div>
</header>
