<!DOCTYPE html>
<html>
		<header>
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<div class="center"><h2 style="font-size:220%;">ICO Structure</h2></div>
		<hr class="small">
		</header>
			
<center><body><div class="section-token-sale page__section page__section_lightblue terms-section">
    <div class="section__anchor" id="terms"></div>
    <div class="content">
      <div class="terms__content">
        <div class="terms__content__left" align="left">
            <ul class="terms__content__chart__legend" style="color: #ffffff" align="left">
              <li>
                Company Tokens
              </li>
              <li>
                Partner Tokens
              </li>
              <li>
                Crowd Sale Tokens
              </li>
              <li>
                Cover tokensale costs
              </li>
            </ul>
        </div>
        <div class="terms__content__right">
          <div class="terms__content__descr">
        <div class="terms__content__left" align="left">
            <div class="terms__content__text" style="color: #ffffff" align="left">
              Maximum cap on crowdsale: <b style="color: #ffffff">$33 million</b>
            </div>
            <div class="terms__content__text" style="color: #ffffff" align="left">
              Total token supply: <b style="color: #ffffff">1 billion (1,000,000,000) DVA</b>, of which:
            </div>
            <div class="terms__content__text" style="color: #ffffff" align="left">
              <ul>
                <li>
                  <b style="color: #ffffff">38%</b> sold in the tokensale
                </li>
                <li>
                  <b style="color: #ffffff">15%</b> retained by Devia
                </li>
                <li>
                  <b style="color: #ffffff">38%</b> allocated for distribution to incentivize participation in the
                  ecosystem
                </li>
                <li>
                  <b style="color: #ffffff">4%</b> kickICO
                </li>
              </ul>
              Ethereum ERC20 token
              <br> Purchase methods accepted: BTC and ETH
            </div>
	  <div class="terms__content__chart">
            <img src="https://s3.amazonaws.com/civic-token-sale-js/pie.png" data-src-2x="https://s3.amazonaws.com/civic-token-sale-js/pie@2x.png" alt="" align="middle">
	  </div>
	</div>
        </div>
      </div>
    </div>
	</div></body></center>
</html>
