<section id="ico" class="ico">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 style= "color: #8980fe">Token Distribution</h2>
        <hr style="color: #8980fe" class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item" align="middle">
  <head align="center">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Distribution', 'Percentage'],
          ['Devia - <b>15%</b> will be held by the company for ongoing development (3 year vesting)',     15],
          ['Advisors - <b>3%</b> will be awarded to advisors (1 year vesting)',      3],
          ['Token Sale - <b>39%</b> will be sold through the token sale',  39],
          ['Ecosystem - <b>39%</b> will be used as an incentive to contributors to the Devia ecosystem (Providers of Data)', 39],
          ['KickICO - >b>4%</b> will be provided to KickICO for their support and launching of our token sale',    4]
        ]);

        var options = {
          title: 'We will issue a total of <b>1000,000,000,000</b> (1 Billion Fixed Supply) <b>DVA</b> tokens',
          pieHole: 0.4,
	  colors: ['#8220F1', '#8949A3', '#8980fe', '#5963DE', '#E47D32']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
</head>
  <body align="middle">
    <div id="donutchart" style="width: 900px; height: 500px;"></div>
  </body>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
</section>
