<section id="ico" class="ico">
  <div class="container" style="color: #8980fe">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 style= "color: #8980fe">ICO Structure</h2>
        <hr style="color: #8980fe" class="small">
        <div class="row">
 <script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>

<div class="container">
	<div class="row">
        <div class="col-md-12">
            <h2>Create your snippet's HTML, CSS and Javascript in the editor tabs</h2>
        </div>
	</div>
    <div class="row">
        <div class="col-md-3">
          <ul data-pie-id="svg">
            <li data-value="60">Water Buffalo (60)</li>
            <li data-value="20">Bison (20)</li>
            <li data-value="12">Sheep (12)</li>
            <li data-value="32">Goat (32)</li>
            <li data-value="50">Shetland Pony (50)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <div id="svg"></div>
        </div>
        <div class="col-md-3">
          <ul data-pie-id="my-cool-chart" data-options='{"donut": "true"}'>
              <li data-value="36">Pepperoni</li>
              <li data-value="14">Sausage</li>
              <li data-value="8">Cheese</li>
              <li data-value="11">Mushrooms</li>
              <li data-value="7">Chicken</li>
              <li data-value="24">Other</li>
            </ul>
            
        </div>
        <div class="col-md-3">
            <div id="my-cool-chart"></div>
        </div>
    </div>
</div>
          
          
        </div>
        <!-- /.row (nested) -->
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
