<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	
	<title style="color:#8980fe;">Timeline</title>
</head>
<body>
	<header>
		<div class="center"><h1 style= "#8980fe"><font size="30">Timeline</font></h1></div>
	</header>

	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-research">
				<img style="color: #ffffff;" src="img/cd-icon-research.svg" alt="research">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Research and Planning</h2>
				<p>Research on the data collection and delivery was conducted. It was found that most people don't mind sharing data if it is incentivized.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span font size="24" style="color:#ffffff;" class="cd-date">February 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-research">
				<img src="img/cd-icon-research.svg" alt="research">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Whitepaper Draft and Website</h2>
				<p>Whitepaper depicting core model and benefits was created</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span font size="24" style="color:#ffffff;" class="cd-date">September 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Pre-ICO</h2>
				<p>Pre-Ico launch with a 2000 ETH goal</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span font size="24" style="color:#ffffff;" class="cd-date">November 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>MVP Development and ICO Marketing</h2>
				<p>We will further develop our website and run a marketing campaign in preperation of ICO</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span font size="24" style="color:#ffffff;" class="cd-date">December 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Advanced Development</h2>
				<p>Development of Ecosystem including data capturing and tracking software</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span font size="24" style="color:#ffffff;" class="cd-date">January 2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>First Version Launch and Ai Development</h2>
				<p>We will release the first beta version of the platform to the public as well as the data delivery platform to companies. Our focus will also start shifting toward Ai development.</p>
				<span font size="24" style="color:#ffffff;" class="cd-date">July 2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
