<section id="portfolio" class="portfolio">
  <div class="container" style="color: #ffffff">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 style= "color: #8980fe">Whitepaper</h2>
        <hr style="color: #8980fe" class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item" align="middle">
              <a href="https://drive.google.com/file/d/0BybTg_jDPV_eb21CVEwwS0Exb0U/view?usp=sharing">
                <p style="text-align:center;"><img class="img-portfolio img-responsive" src="https://i.imgur.com/8sQTHOF.jpg" alt="Devia"></p>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
